@use '../../../../assets/scss/base/breakpoints' as *;

$wrap-container-name: statistics-showcase;

.wp-block-pavel-home-statistics-showcase {
	position: relative;
	z-index: 20;
	container-type: inline-size;
	container-name: $wrap-container-name;

	&__wrap {
		position: relative;
		padding-top: 50px;
		padding-bottom: 50px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			padding-top: 70px;
			padding-bottom: 100px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			padding-bottom: 172px;
		}
	}

	&__decor-bottom-left {
		position: absolute;
		z-index: 20;
		left: 0;
		top: 76.5%;
		width: 18.43%;

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		z-index: 30;
		position: relative;
		display: grid;
		max-width: 350px !important;
		gap: 30px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			gap: 20px;
			max-width: 650px !important;
			grid-template-columns: repeat(2, 1fr);
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			max-width: var(--container-w) !important;
			grid-template-columns: repeat(4, 1fr);
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			gap: 30px;
		}
	}

	&__item {
		padding: 30px 16px 40px;
		position: relative;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			height: 300px;
			padding: 5vw 30px 0;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			padding: 3.5vw 16px 0;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			height: 360px;
			padding: 5.42vw 30px 0;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			height: 360px;
			padding: 80px 30px 0;
		}

		&-content {
			position: relative;
			z-index: 20;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&-decor-bg {
			position: absolute;
			z-index: 10;
			inset: 0;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__number,
	&__unit {
		font-weight: bold;
		background: linear-gradient(to bottom, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: currentColor;
	}

	&__number {
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 1.15;
		margin-top: 0;
		margin-bottom: 4px;
		font-size: 48px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			font-size: 5vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			font-size: 4.5vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 3.66vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			font-size: 54px;
		}
	}

	&__unit {
		margin: 0;
		line-height: 1;
		font-size: 28px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			font-size: 3vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			font-size: 2.4vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 2vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			font-size: 31px;
		}
	}

	&__description {
		margin-top: 25px;
		margin-bottom: 0;
		line-height: 1.15;
		font-size: 22px;

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 24px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			font-size: 26px;
		}
	}
}
