.wp-block-pavel-home-services-showcase {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	text-align: left !important;
	background: none !important;

	p {
		margin: 0;
	}
}
