@use '../../../../assets/scss/base/breakpoints' as *;

$wrap-container-name: services-showcase;

$clip-path-polygon: polygon(0% 0%, 4.721% 0%, 4.721% 0%, 4.764% 0.005%, 4.807% 0.009%, 4.85% 0.013%, 4.894% 0.016%, 4.937% 0.019%, 4.981% 0.021%, 5.025% 0.023%, 5.068% 0.024%, 5.112% 0.025%, 5.156% 0.025%, 40.287% 0.025%, 40.287% 0.025%, 40.718% 0.066%, 41.114% 0.185%, 41.481% 0.376%, 41.823% 0.635%, 42.147% 0.954%, 42.457% 1.33%, 42.759% 1.755%, 43.057% 2.225%, 43.359% 2.733%, 43.668% 3.275%, 43.668% 3.275%, 44.162% 4.079%, 44.699% 4.828%, 45.273% 5.513%, 45.878% 6.129%, 46.508% 6.668%, 47.154% 7.125%, 47.813% 7.492%, 48.476% 7.762%, 49.138% 7.929%, 49.792% 7.986%, 49.792% 7.986%, 50.07% 7.978%, 50.363% 7.954%, 50.668% 7.912%, 50.982% 7.853%, 51.303% 7.775%, 51.626% 7.678%, 51.95% 7.561%, 52.27% 7.423%, 52.585% 7.264%, 52.891% 7.084%, 52.891% 7.084%, 53.306% 6.796%, 53.708% 6.475%, 54.095% 6.125%, 54.465% 5.751%, 54.817% 5.358%, 55.148% 4.95%, 55.456% 4.534%, 55.74% 4.112%, 55.998% 3.691%, 56.228% 3.275%, 56.228% 3.275%, 56.243% 3.25%, 56.258% 3.224%, 56.274% 3.199%, 56.289% 3.174%, 56.304% 3.148%, 56.319% 3.123%, 56.334% 3.098%, 56.35% 3.073%, 56.365% 3.048%, 56.38% 3.022%, 56.38% 3.022%, 56.662% 2.555%, 56.943% 2.105%, 57.226% 1.68%, 57.516% 1.286%, 57.816% 0.932%, 58.13% 0.626%, 58.462% 0.375%, 58.817% 0.185%, 59.198% 0.066%, 59.609% 0.025%, 94.74% 0.025%, 94.74% 0.025%, 94.784% 0.025%, 94.828% 0.024%, 94.871% 0.023%, 94.915% 0.021%, 94.959% 0.019%, 95.002% 0.016%, 95.046% 0.013%, 95.089% 0.009%, 95.132% 0.005%, 95.175% 0%, 100% 0%, 100% 100%, 95.227% 100%, 95.227% 100%, 95.184% 99.995%, 95.141% 99.991%, 95.098% 99.987%, 95.054% 99.984%, 95.011% 99.981%, 94.967% 99.979%, 94.923% 99.977%, 94.88% 99.976%, 94.836% 99.975%, 94.792% 99.975%, 59.661% 99.975%, 59.661% 99.975%, 59.25% 99.934%, 58.869% 99.815%, 58.514% 99.626%, 58.182% 99.374%, 57.868% 99.068%, 57.568% 98.714%, 57.278% 98.32%, 56.995% 97.895%, 56.714% 97.445%, 56.432% 96.978%, 56.432% 96.978%, 56.417% 96.953%, 56.402% 96.927%, 56.387% 96.902%, 56.371% 96.877%, 56.356% 96.852%, 56.341% 96.826%, 56.326% 96.801%, 56.31% 96.776%, 56.295% 96.75%, 56.28% 96.725%, 56.28% 96.725%, 56.05% 96.309%, 55.792% 95.888%, 55.508% 95.467%, 55.2% 95.05%, 54.869% 94.642%, 54.518% 94.249%, 54.147% 93.875%, 53.76% 93.525%, 53.358% 93.204%, 52.943% 92.916%, 52.943% 92.916%, 52.637% 92.735%, 52.322% 92.577%, 52.002% 92.439%, 51.678% 92.322%, 51.355% 92.225%, 51.034% 92.147%, 50.72% 92.088%, 50.415% 92.046%, 50.122% 92.022%, 49.844% 92.014%, 49.844% 92.014%, 49.19% 92.071%, 48.528% 92.238%, 47.865% 92.508%, 47.207% 92.875%, 46.56% 93.331%, 45.93% 93.871%, 45.326% 94.487%, 44.751% 95.172%, 44.214% 95.92%, 43.72% 96.725%, 43.72% 96.725%, 43.411% 97.267%, 43.11% 97.775%, 42.811% 98.245%, 42.509% 98.67%, 42.199% 99.046%, 41.875% 99.365%, 41.533% 99.624%, 41.166% 99.815%, 40.77% 99.934%, 40.339% 99.975%, 5.208% 99.975%, 5.208% 99.975%, 5.164% 99.975%, 5.12% 99.976%, 5.077% 99.977%, 5.033% 99.979%, 4.989% 99.981%, 4.946% 99.984%, 4.902% 99.987%, 4.859% 99.991%, 4.816% 99.995%, 4.773% 100%, 0% 100%, 0% 0%);

$clip-path-polygon-1440: polygon(93.636% 0%, 100% 0%, 100% 100%, 93.637% 100%, 93.637% 100%, 93.579% 99.995%, 93.522% 99.991%, 93.464% 99.987%, 93.406% 99.984%, 93.348% 99.981%, 93.29% 99.979%, 93.231% 99.977%, 93.173% 99.976%, 93.114% 99.975%, 93.056% 99.975%, 62.881% 99.975%, 62.881% 99.975%, 62.333% 99.934%, 61.825% 99.815%, 61.353% 99.626%, 60.909% 99.374%, 60.491% 99.068%, 60.091% 98.714%, 59.705% 98.32%, 59.327% 97.895%, 58.953% 97.445%, 58.576% 96.978%, 58.576% 96.978%, 58.556% 96.953%, 58.536% 96.927%, 58.515% 96.902%, 58.495% 96.877%, 58.475% 96.852%, 58.455% 96.826%, 58.434% 96.801%, 58.414% 96.776%, 58.393% 96.75%, 58.373% 96.725%, 58.373% 96.725%, 58.067% 96.309%, 57.723% 95.888%, 57.344% 95.467%, 56.933% 95.05%, 56.492% 94.642%, 56.023% 94.249%, 55.53% 93.875%, 55.014% 93.525%, 54.477% 93.204%, 53.924% 92.916%, 53.924% 92.916%, 53.516% 92.735%, 53.097% 92.577%, 52.669% 92.439%, 52.238% 92.322%, 51.807% 92.225%, 51.379% 92.147%, 50.96% 92.088%, 50.553% 92.046%, 50.162% 92.022%, 49.792% 92.014%, 49.792% 92.014%, 48.92% 92.071%, 48.037% 92.238%, 47.153% 92.508%, 46.275% 92.875%, 45.413% 93.331%, 44.574% 93.871%, 43.767% 94.487%, 43.002% 95.172%, 42.285% 95.92%, 41.627% 96.725%, 41.627% 96.725%, 41.215% 97.267%, 40.813% 97.775%, 40.414% 98.245%, 40.012% 98.67%, 39.598% 99.046%, 39.167% 99.365%, 38.71% 99.624%, 38.222% 99.815%, 37.694% 99.934%, 37.119% 99.975%, 6.944% 99.975%, 6.944% 99.975%, 6.886% 99.975%, 6.827% 99.976%, 6.769% 99.977%, 6.711% 99.979%, 6.652% 99.981%, 6.594% 99.984%, 6.536% 99.987%, 6.479% 99.991%, 6.421% 99.995%, 6.363% 100%, 0% 100%, 0% 0%, 6.364% 0%, 6.364% 0%, 6.421% 0.005%, 6.479% 0.009%, 6.537% 0.013%, 6.594% 0.016%, 6.652% 0.019%, 6.711% 0.021%, 6.769% 0.023%, 6.827% 0.024%, 6.886% 0.025%, 6.944% 0.025%, 37.119% 0.025%, 37.119% 0.025%, 37.694% 0.066%, 38.222% 0.185%, 38.71% 0.376%, 39.167% 0.635%, 39.598% 0.954%, 40.012% 1.33%, 40.414% 1.755%, 40.813% 2.225%, 41.215% 2.733%, 41.627% 3.275%, 41.627% 3.275%, 42.285% 4.079%, 43.002% 4.828%, 43.767% 5.513%, 44.574% 6.129%, 45.413% 6.668%, 46.275% 7.125%, 47.153% 7.492%, 48.037% 7.762%, 48.92% 7.929%, 49.792% 7.986%, 49.792% 7.986%, 50.162% 7.978%, 50.553% 7.954%, 50.96% 7.912%, 51.379% 7.853%, 51.807% 7.775%, 52.238% 7.678%, 52.669% 7.561%, 53.097% 7.423%, 53.516% 7.264%, 53.924% 7.084%, 53.924% 7.084%, 54.477% 6.796%, 55.014% 6.475%, 55.53% 6.125%, 56.023% 5.751%, 56.492% 5.358%, 56.933% 4.95%, 57.344% 4.534%, 57.723% 4.112%, 58.067% 3.691%, 58.373% 3.275%, 58.373% 3.275%, 58.393% 3.25%, 58.413% 3.225%, 58.433% 3.201%, 58.453% 3.176%, 58.473% 3.151%, 58.492% 3.126%, 58.512% 3.102%, 58.532% 3.077%, 58.552% 3.052%, 58.572% 3.028%, 58.576% 3.022%, 58.576% 3.022%, 58.953% 2.555%, 59.327% 2.105%, 59.705% 1.68%, 60.091% 1.286%, 60.491% 0.932%, 60.909% 0.626%, 61.353% 0.375%, 61.825% 0.185%, 62.333% 0.066%, 62.881% 0.025%, 93.056% 0.025%, 93.056% 0.025%, 93.114% 0.025%, 93.173% 0.024%, 93.231% 0.023%, 93.29% 0.021%, 93.348% 0.019%, 93.406% 0.016%, 93.464% 0.013%, 93.521% 0.009%, 93.579% 0.005%, 93.636% 0%);

$clip-path-polygon-mob: polygon( 50.037% 4.066%,50.037% 4.066%,48.816% 4.012%,47.728% 3.933%,46.752% 3.83%,45.864% 3.701%,45.042% 3.548%,44.264% 3.372%,43.508% 3.172%,42.751% 2.948%,41.971% 2.702%,41.146% 2.434%,41.143% 2.433%,40.935% 2.365%,40.748% 2.304%,40.625% 2.263%,40.625% 2.263%,40.437% 2.201%,40.255% 2.139%,40.078% 2.078%,39.906% 2.016%,39.738% 1.955%,39.574% 1.894%,39.414% 1.834%,39.256% 1.774%,39.101% 1.714%,38.947% 1.655%,38.947% 1.655%,38.237% 1.386%,37.503% 1.131%,36.695% 0.893%,35.759% 0.676%,34.646% 0.483%,33.302% 0.318%,31.677% 0.184%,29.719% 0.084%,27.376% 0.022%,24.597% 0%,0% 0%,0% 99.95%,24.597% 99.95%,24.597% 99.95%,27.376% 99.928%,29.719% 99.866%,31.677% 99.766%,33.302% 99.631%,34.646% 99.466%,35.759% 99.274%,36.695% 99.057%,37.503% 98.819%,38.237% 98.564%,38.947% 98.294%,38.947% 98.294%,39.101% 98.235%,39.256% 98.176%,39.414% 98.116%,39.574% 98.055%,39.738% 97.995%,39.906% 97.934%,40.078% 97.872%,40.255% 97.81%,40.437% 97.749%,40.625% 97.686%,40.748% 97.646%,40.935% 97.585%,41.143% 97.517%,41.146% 97.516%,41.146% 97.516%,41.971% 97.248%,42.751% 97.002%,43.508% 96.778%,44.264% 96.578%,45.042% 96.402%,45.864% 96.249%,46.752% 96.12%,47.728% 96.017%,48.816% 95.938%,50.037% 95.884%,50.037% 95.884%,51.243% 95.937%,52.319% 96.014%,53.286% 96.113%,54.166% 96.236%,54.981% 96.383%,55.753% 96.553%,56.505% 96.747%,57.258% 96.964%,58.033% 97.206%,58.854% 97.472%,58.857% 97.474%,58.857% 97.474%,58.907% 97.49%,58.958% 97.507%,59.009% 97.523%,59.061% 97.54%,59.113% 97.557%,59.165% 97.574%,59.217% 97.591%,59.269% 97.608%,59.322% 97.625%,59.375% 97.642%,59.375% 97.642%,59.563% 97.705%,59.745% 97.767%,59.922% 97.828%,60.094% 97.89%,60.262% 97.951%,60.426% 98.012%,60.586% 98.072%,60.744% 98.132%,60.899% 98.192%,61.053% 98.251%,61.053% 98.251%,61.763% 98.52%,62.497% 98.775%,63.305% 99.013%,64.241% 99.23%,65.354% 99.423%,66.698% 99.588%,68.323% 99.722%,70.281% 99.822%,72.624% 99.885%,75.403% 99.906%,100% 99.906%,100% 0.044%,75.403% 0.044%,75.403% 0.044%,72.624% 0.065%,70.281% 0.128%,68.323% 0.228%,66.698% 0.362%,65.354% 0.527%,64.241% 0.72%,63.305% 0.937%,62.497% 1.174%,61.763% 1.43%,61.053% 1.699%,61.053% 1.699%,60.899% 1.758%,60.744% 1.818%,60.586% 1.878%,60.426% 1.938%,60.262% 1.999%,60.094% 2.06%,59.922% 2.121%,59.745% 2.183%,59.563% 2.245%,59.375% 2.307%,59.375% 2.307%,59.322% 2.324%,59.269% 2.342%,59.217% 2.359%,59.165% 2.376%,59.113% 2.393%,59.061% 2.41%,59.009% 2.426%,58.958% 2.443%,58.907% 2.46%,58.857% 2.476%,58.854% 2.477%,58.854% 2.477%,58.033% 2.743%,57.258% 2.985%,56.505% 3.203%,55.753% 3.397%,54.981% 3.567%,54.166% 3.713%,53.286% 3.836%,52.319% 3.936%,51.243% 4.012%,50.037% 4.066% );

.wp-block-pavel-home-services-showcase {
	position: relative;
	z-index: 10;
	overflow: hidden;
	container-type: inline-size;
	container-name: $wrap-container-name;


	&__wrap {
		background-image: linear-gradient(to top, #003459 0%, var(--color-medium-blue) 100%);
		overflow: hidden;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 80px;
		position: relative;
		clip-path: $clip-path-polygon-mob;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			clip-path: $clip-path-polygon-1440;
			padding-top: 130px;
			padding-bottom: 130px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			padding-top: 185px;
			padding-bottom: 185px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xxl}) {
			clip-path: $clip-path-polygon;
		}
	}

	&__heading {
		background: linear-gradient(85deg, #fff 0%, #fff 40%, #CBF1FF 55%, #CBF1FF 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: currentColor;
		margin-top: 0;
		margin-bottom: 20px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin-bottom: 30px;
		}
	}

	&__subheading {
		margin-top: 0;
		font-weight: 500;
		line-height: 1.13;
		font-size: clamp(22px, 3.4vw, 40px);
		margin-bottom: 20px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin-bottom: 30px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 44px;
		}
	}

	&__description {
		margin: 0;
		font-size: clamp(16px, 2.3vw, 40px);
		line-height: 1.26;

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 30px;
		}
	}

	&__services {
		margin-top: 30px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin-top: 50px;
		}

		&-label {
			line-height: 1.2;
			margin-bottom: 30px;
			font-weight: 500;
			text-decoration-line: underline;
			text-decoration-thickness: 2px;
			text-underline-offset: 0.1em;
			font-size: clamp(20px, 3.1vw, 36px);

			@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
				font-size: 40px;
			}
		}

		&-grid {
			max-width: 400px;
			margin: 0 auto;
			display: grid;
			gap: 20px;

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				margin: 0;
				max-width: unset;
				grid-template-columns: repeat(3, 1fr);
			}

			@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
				gap: 30px;
			}
		}
	}

	&__service {

		&-item {
			position: relative;
			border-radius: 20px;
			background-color: #fff;
			background-image: linear-gradient(50deg, #fff 0%, var(--color-light-blue) 100%);
			padding: 30px 16px;

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				border-radius: 45px;
				padding: 4vw 2.71vw;

				&:nth-child(3n+2) {
					transition-delay: .2s;
				}

				&:nth-child(3n) {
					transition-delay: .4s;
				}
			}

			@container #{$wrap-container-name} (min-width: #{$bp-container}) {
				padding: 60px 40px;
			}
		}

		&-title {
			line-height: 1.12;
			font-weight: bold;
			background: linear-gradient(to left, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			color: var(--color-deep-blue);
			margin-bottom: 16px;
			font-size: clamp(20px, 3.5vw, 24px);

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				display: block;
				font-size: 2.71vw;
			}

			@container #{$wrap-container-name} (min-width: #{$bp-container}) {
				font-size: 40px;
			}

			br {
				display: none;

				@container #{$wrap-container-name} (min-width: #{$bp-md}) {
					display: block;
				}
			}
		}

		&-description {
			color: var(--color-dark-blue);
			line-height: 1.26;
			margin: 0;
			font-size: clamp(18px, 3vw, 20px);

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				font-size: 2vw;
			}

			@container #{$wrap-container-name} (min-width: #{$bp-container}) {
				font-size: 30px;
			}
		}
	}
}
