@use '../../../../assets/scss/base/breakpoints' as *;

$wrap-container-name: contact-section;

.wp-block-pavel-contact-section {
	position: relative;
	overflow: hidden;
	container-type: inline-size;
	container-name: $wrap-container-name;

	&__wrap {
		position: relative;
		margin-top: 40px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			padding-top: 70px;
			margin-top: 70px;
		}
	}

	&__decor-top-left {
		position: absolute;
		z-index: 10;
		left: auto;
		top: 0;
		right: 0;
		width: 19%;

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		display: grid;
		align-items: center;
		position: relative;
		z-index: 50;
		gap: 60px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			grid-template-columns: 32vw 1fr;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			gap: 100px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			gap: 130px;
			grid-template-columns: 470px 1fr;
		}

		&-inner {
			position: relative;
			z-index: 50;
			order: 1;

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				order: 2;
			}
		}
	}

	&__photo {
		position: relative;
		order: 2;
		max-width: 350px;
		margin: 0 auto;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin: 0;
			max-width: 100%;
			order: 1;
		}

		img {
			image-rendering: pixelated;
			position: relative;
			z-index: 50;
		}

		&-shadow {
			position: absolute;
			z-index: 30;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 128.5%;

			svg {
				max-width: 100%;
				height: auto;
			}
		}

		&-bg {
			position: absolute;
			z-index: 10;
			top: auto;
			width: 191%;
			bottom: -113px;
			left: -63%;

			svg {
				max-width: 100%;
				height: auto;
			}
		}
	}

	&__heading {
		margin-top: 0;
		background: linear-gradient(to left, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: var(--color-deep-blue);
		margin-bottom: 20px;
		text-align: center;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			text-align: left;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			margin-bottom: 30px;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			margin-bottom: 52px;
		}
	}

	&__subtitle {
		margin-top: 0;
		line-height: 1.29;
		margin-bottom: 20px;
		font-size: clamp(16px, 2.2vw, 24px);
		text-align: center;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			text-align: left;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			margin-bottom: 30px;
			font-size: 2.5vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			margin-bottom: 52px;
			font-size: 35px;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: center;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			justify-content: flex-start;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			gap: 50px;
		}
	}

	&__social-item {
		display: block;
		position: relative;
		width: 40px;

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			width: auto;
		}

		&:nth-child(2) {
			transition-delay: .2s;
		}
	}

	&__buttons {
		align-items: center;
		margin-top: 30px;
		display: grid;
		gap: 20px;

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			display: flex;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			gap: 70px;
		}
	}

	&__button {
		width: 250px!important;
		margin: 0 auto;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin: 0;
		}

		&.contact-button-secondary {

			@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
				transition-delay: .2s;
			}
		}
	}
}
