@use "./base/variables";
@use "./base/common";
@use "./base/buttons";
@use "./base/animations";
@use "./components/header";
@use "./components/footer";
@use "./components/nav-menu";
@use "./components/logo";
@use "./components/typo";
@use "./components/modal";
@use "./components/form";
@use "./components/pagination";

@import "tailwindcss/index.css";

html,
body {
	color: #fff;
	font-family: var(--albert-font), sans-serif;
}

body {
	container-type: inline-size;
	container-name: pm-main;
}

* {
	line-height: inherit;

	a {
		text-decoration: none;
	}
}
