$clip-path-polygon: polygon(100% 75.627%,100% 75.627%,99.932% 77.515%,99.734% 79.305%,99.419% 80.974%,98.995% 82.499%,98.475% 83.855%,97.868% 85.017%,97.185% 85.964%,96.438% 86.669%,95.637% 87.11%,94.792% 87.262%,59.661% 87.262%,59.661% 87.262%,59.229% 87.336%,58.83% 87.546%,58.46% 87.879%,58.114% 88.321%,57.787% 88.858%,57.475% 89.475%,57.173% 90.158%,56.876% 90.893%,56.58% 91.666%,56.28% 92.462%,56.28% 92.462%,56.05% 93.128%,55.792% 93.802%,55.508% 94.476%,55.2% 95.143%,54.869% 95.795%,54.518% 96.424%,54.147% 97.022%,53.76% 97.582%,53.358% 98.096%,52.943% 98.556%,52.943% 98.556%,52.637% 98.845%,52.322% 99.099%,52.002% 99.319%,51.678% 99.507%,51.355% 99.662%,51.035% 99.787%,50.72% 99.882%,50.415% 99.948%,50.122% 99.987%,49.844% 100%,49.844% 100%,49.19% 99.909%,48.528% 99.641%,47.865% 99.209%,47.207% 98.622%,46.56% 97.892%,45.93% 97.029%,45.326% 96.043%,44.751% 94.947%,44.214% 93.749%,43.72% 92.462%,43.72% 92.462%,43.411% 91.595%,43.11% 90.782%,42.811% 90.03%,42.509% 89.35%,42.199% 88.749%,41.875% 88.238%,41.533% 87.825%,41.166% 87.518%,40.77% 87.328%,40.339% 87.262%,5.208% 87.262%,5.208% 87.262%,4.364% 87.11%,3.562% 86.669%,2.815% 85.964%,2.132% 85.017%,1.525% 83.855%,1.005% 82.499%,0.581% 80.974%,0.266% 79.305%,0.068% 77.515%,0% 75.627%,0% 0%,100% 0%,100% 75.627%);

.wp-block-pavel-home-hero-section {
	position: relative;
	z-index: 30;
	padding-bottom: 70px;
	container-type: inline-size;
	container-name: hero-section;

	&__wrapper {
		position: relative;
		z-index: 60;
		background-image: linear-gradient(45deg, #003459 0%, var(--color-medium-blue) 100%);
		clip-path: $clip-path-polygon;
		padding-bottom: 116px;
	}

	&__bg {
		position: absolute;
		clip-path: $clip-path-polygon;
		background-color: #00A8E8;
		width: 100%;
		height: calc(100% - 116px);
		left: 0;
		top: auto;

		&-overlay-1 {
			z-index: 20;
			opacity: .2;
			bottom: 35px;
		}

		&-overlay-2 {
			z-index: 10;
			opacity: .1;
			bottom: 0;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__decor-top-left {
		position: absolute;
		z-index: 50;
		left: 0;
		top: 0;
	}

	&__arrow-to-bottom {
		z-index: 100;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 25px;
	}

	&__content {
		display: grid;
		align-items: start;
		grid-template-columns: 1fr 34.17%;
		gap: 10px;
		padding-top: 105px;
		padding-bottom: 0;

		&_text {
			position: relative;
			z-index: 20;
			padding-top: 153px;
			display: grid;
			gap: 30px;
		}
	}

	&__title {
		background: linear-gradient(85deg, #CBF1FF 0%, #fff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: currentColor;
		margin: 0;
		letter-spacing: 1px;
		font-weight: 600;
		line-height: 1.13;
		font-size: 60px;
	}

	&__subtitle {
		margin: 0;
		font-size: 30px;
		line-height: 1.26;
	}

	&__image {
		transform: translateX(62px);
		position: relative;
		z-index: 10;

		img {
			position: relative;
			z-index: 20;
			image-rendering: pixelated;
		}

		&-shadow {
			position: absolute;
			z-index: 11;
			width: 100%;
			left: -15%;
			top: 0;
		}

		&-decor {
			position: absolute;
			z-index: 10;
			width: 204.9%;
			left: auto;
			right: -37.15%;
			top: auto;
			bottom: -6.5%;
		}
	}
}

