.pm-logo {
	background: linear-gradient(90deg, #fff 0%, #CBF1FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	color: currentColor;
	width: fit-content;
}
