.pm-modal {

	&__inner {
		transform: scale(.8) translateY(-120vh);
	}

	.pm-form-loading,
	.pm-form-success {
		background-color: #003459 !important;
	}

	input.wpcf7-submit {
		margin: 0 auto;

		@media (min-width: 768px) {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

html {

	&.pm-modal-open {
		position: relative;
		overflow: hidden;
	}

	&.pm-consultation {

		.pm-modal#consultation {
			animation: modalFadeIn .3s ease forwards;

			.pm-modal__inner {
				transform: scale(1) translateY(0);
			}
		}
	}

	&.pm-contact {

		.pm-modal#contact {
			animation: modalFadeIn .3s ease forwards;

			.pm-modal__inner {
				transform: scale(1) translateY(0);
			}
		}
	}

	&.pm-modal-closing {
		.pm-modal#contact,
		.pm-modal#consultation {
			animation: modalFadeOut .3s ease forwards;

			.pm-modal__inner {
				transform: scale(0.85) translateY(-120vh);
			}
		}
	}
}

@keyframes modalFadeIn {
	0% {
		z-index: 100;
		opacity: 0;
	}
	1% {
		z-index: 100;
		opacity: 0;
	}

	100% {
		z-index: 100;
		opacity: 1;
	}
}

@keyframes modalFadeOut {
	0% {
		z-index: 100;
		opacity: 1;
	}
	99% {
		z-index: 100;
		opacity: 0;
	}

	100% {
		z-index: -50;
		opacity: 0;
	}
}
