@use '../base/breakpoints' as *;

$wrap-container-name: post-content;

.pm-thumbnail-container {
	img {
		width: 100%;
	}
}

.pm-single-post-cat {
	display: block;
	padding: 10px 20px;
	border-radius: 8px;
	background: linear-gradient(-45deg, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
	font-size: 20px;
	line-height: 1.2;
}

.pm-post-content {
	container-type: inline-size;
	container-name: $wrap-container-name;

	& > * {

		&:first-child {
			margin-top: 0 !important;
			padding-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
		}
	}

	h2 {
		font-weight: bold;
		font-size: 40px;
		line-height: 1.2;
		margin: 40px 0 30px;

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {

		}
	}

	h3 {
		margin: 30px 0 20px;
		font-size: 32px;
		font-weight: 600;
		line-height: 1.3;
	}

	h4 {
		font-weight: 600;
		margin: 24px 0 18px;
		line-height: 1.25;
		font-size: 28px;
	}

	& > p {
		font-size: 20px;
		line-height: 1.5;
		margin: 20px 0;
	}

	ul,
	ol {
		font-size: 20px;
		line-height: 1.5;
		padding-left: 24px;
		margin: 14px 0 20px;
		display: grid;
		gap: 6px;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	figcaption {
		margin-top: 16px;
		color: rgba(255, 255, 255, 0.75);
		font-size: 18px;
		line-height: 1.2;
	}

	blockquote {
		font-style: italic;
		font-size: 20px;
		line-height: 1.5;
		margin: 14px 0 20px;
		padding-left: 24px;
		position: relative;

		&:before {
			position: absolute;
			content: 'â';
			font-size: 24px;
			line-height: 1;
			top: 0;
			left: 0;
		}
	}

	.wp-block-table {
		margin: 14px 0 20px;
		font-size: 20px;
		line-height: 1.5;
	}

	& > .wp-block-image {
		margin: 20px 0;
	}

	.wp-block-image {

		img {
			border-radius: 10px;
		}
	}

	a {
		color: var(--color-bright-blue);

		&:hover {
			text-decoration: underline;
		}
	}

	.wp-block-columns {
		margin: 20px 0;
		gap: 20px;

		.wp-block-image {
			margin: 0;
		}
	}
}
//
//.swiper-wrapper {
//	display: grid !important;
//}
//
//.swiper-button-prev,
//.swiper-button-next,
//.swiper-pagination {
//
//	@media (min-width: 1024px) {
//		display: none!important;
//	}
//}
//
//.swiper-initialized {
//	padding-bottom: 30px;
//
//	--swiper-navigation-size: 20px;
//
//	.swiper-wrapper {
//		display: flex !important;
//		gap: 0;
//	}
//
//	.swiper-slide {
//		display: flex;
//	}
//
//	.swiper-pagination {
//		bottom: 0 !important;
//		top: auto !important;
//	}
//
//	.swiper-pagination-bullet-active {
//		background-color: var(--hs-orange-primary);
//	}
//
//	.swiper-button-prev,
//	.swiper-button-next {
//
//		@media (min-width: 1024px) {
//			display: none !important;
//		}
//
//		&:after {
//			color: var(--hs-orange-primary);
//		}
//	}
//}
