@use "../base/breakpoints" as *;

.pm-section-heading {
	line-height: 1.15;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 30px;

	@media (min-width: #{$bp-md}) {
		font-size: 4.2vw;
	}

	@media (min-width: #{$bp-xl}) {
		font-size: 54px;
	}
}
