@use 'swiper/css';
@use 'swiper/css/pagination';

@use '../../../../assets/scss/base/breakpoints' as *;

$wrap-container-name: testimonials-showcase;

.wp-block-pavel-home-testimonials-showcase {
	container-type: inline-size;
	container-name: $wrap-container-name;

	&__wrap {

	}

	&__heading {
		text-align: center;
		background: linear-gradient(to left, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: var(--color-deep-blue);
		margin-bottom: 40px;

		@container #{$wrap-container-name} (min-width: #{$bp-md}) {
			margin-bottom: 50px;
		}
	}

	&__testimonials-grid {
		padding-bottom: 40px;
		overflow: hidden;
		position: relative;

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			padding-bottom: 62px;
		}

		&.pm-items-3 {
			padding: 0;
			width: 100%;
			display: grid;
			gap: 20px;
			max-width: 400px;
			margin: 0 auto;

			@container #{$wrap-container-name} (min-width: #{$bp-md}) {
				gap: 30px;
				grid-template-columns: repeat(4, 1fr);
				max-width: 850px;
			}

			@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
				max-width: 100%;
				margin: 0 0 50px;
				grid-template-columns: repeat(3, 1fr);
			}

			.wp-block-pavel-home-testimonials-showcase__testimonial-item {

				@container #{$wrap-container-name} (min-width: #{$bp-md}) {
					grid-column: span 2;
				}

				@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
					grid-column: span 1;
				}

				&:last-child {

					@container #{$wrap-container-name} (min-width: #{$bp-md}) {
						grid-column-start: 2;
						grid-column-end: 4;
					}

					@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
						grid-column-start: unset;
						grid-column-end: unset;
					}
				}
			}
		}

		&.pm-items-2 {
			margin-left: auto;
			margin-right: auto;
			width: calc(100% / 3 * 2);
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}

		&.pm-items-1 {
			margin-left: auto;
			margin-right: auto;
			width: calc(100% / 3);
		}

		.wp-block-pavel-home-testimonials-showcase__pagination {
			top: auto;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			width: fit-content;

			&:before {
				position: absolute;
				z-index: 10;
				background-color: #003459;
				width: 100%;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				height: 2px;
				display: block;
				content: '';
			}

			.swiper-pagination-bullet {
				position: relative;
				z-index: 20;
				transition: all ease .3s;
				margin: 0 !important;
				display: block;
				width: 100%;
				height: 12px;
				border-radius: 10px;
				max-width: 30px;
				min-width: 30px;
				background-color: transparent;
				opacity: 0;
				background-image: linear-gradient(to left, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);

				&.swiper-pagination-bullet-active {
					opacity: 1;
					max-width: 5.945vw;
					min-width: 5.945vw;

					@media(min-width: 1480px) {
						max-width: 88px;
						min-width: 88px;
					}
				}
			}
		}
	}

	&__testimonial-item {
		position: relative;
		padding: 40px;

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			padding: 2.71vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			padding: 40px;
		}

		&-content {
			position: relative;
			z-index: 20;
		}

		&-decor-bg {
			position: absolute;
			z-index: 10;
			inset: 0;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__rating {
		display: flex;
		margin-bottom: 30px;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	&__quote {
		font-weight: bold;
		line-height: 1.15;
		margin: 0;
		font-size: clamp(18px, 2.35vw, 25px);

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			font-size: 1.76vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			font-size: 26px;
		}
	}

	&__attribution {
		text-align: right;
		margin-top: 30px;
		margin-bottom: 0;
	}

	&__author {
		text-align: right;
		font-style: italic;
		line-height: 1.29;
		font-size: clamp(18px, 2.25vw, 24px);

		@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
			font-size: 1.83vw;
		}

		@container #{$wrap-container-name} (min-width: #{$bp-container}) {
			font-size: 27px;
		}
	}
}
