@use '../../../../assets/scss/components/post-card';

.wp-block-pavel-post-list {
	max-width: unset !important;

	.line-clamp-3 {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
	}
}
