@use '../../../../assets/scss/base/breakpoints' as *;

$wrap-container-name: experience-timeline;

.wp-block-pavel-home-experience-timeline {
	position: relative;
	z-index: 20;
	container-type: inline-size;
	container-name: $wrap-container-name;

	&__decor-top-right {
		position: absolute;
		z-index: 20;
		left: auto;
		right: 0;
		top: -180px;
		width: 29.84%;

		svg {
			max-width: 100%;
			height: auto;
		}
	}

	&__content {
		padding-top: 72px;
		position: relative;
		z-index: 30;
	}

	&__heading {
		text-align: center;
		width: fit-content;
		margin: 0 auto 30px;
		background: linear-gradient(to left, var(--color-medium-blue) 0%, var(--color-deep-blue) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		color: var(--color-deep-blue);
	}

	&__subheading {
		text-align: center;
		margin-bottom: 63px;
		margin-top: 0;
		font-weight: 500;
		font-size: 3.4vw;
		line-height: 1.13;

		@container #{$wrap-container-name} (min-width: #{$bp-xl}) {
			font-size: 44px;
		}
	}

	&__timeline {
		display: grid;
		align-items: start;
	}

	&__experience {

		&-item {
			display: grid;
			grid-auto-rows: 226px;
			align-items: center;
			gap: 45px;
			width: 100%;
			margin-top: -80px;
			//max-width: calc(50% - 12px);

			@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
				max-width: calc(50% - 12px);
			}

			&:first-child {
				margin-top: 0;

				.wp-block-pavel-home-experience-timeline__experience-timeline-circle {
					transform: rotate(225deg) !important;
				}
			}

			&:nth-child(even) {
				margin-left: auto;
				//grid-template-columns: 208px 1fr;

				@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
					grid-template-columns: 208px 1fr;
				}

				.wp-block-pavel-home-experience-timeline__experience-content {
					order: 2;
				}

				.wp-block-pavel-home-experience-timeline__experience-timeline {
					order: 1;
				}

				.wp-block-pavel-home-experience-timeline__experience-timeline-jumper {
					left: -26%;
					top: 74%;
					transform: rotate(145deg);
				}

				&:last-child {

					.wp-block-pavel-home-experience-timeline__experience-timeline-circle {
						transform: rotate(45deg);
					}
				}
			}

			&:nth-child(odd) {
				//grid-template-columns: 1fr 208px;

				@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
					grid-template-columns: 1fr 208px;
				}

				.wp-block-pavel-home-experience-timeline__experience-content {
					text-align: right;
					align-items: flex-end;
					order: 1;
				}

				.wp-block-pavel-home-experience-timeline__experience-timeline {
					order: 2;
				}

				.wp-block-pavel-home-experience-timeline__experience-timeline-circle {
					transform: rotate(180deg);
				}

				.wp-block-pavel-home-experience-timeline__experience-timeline-jumper {
					left: 82%;
					top: 74%;
					transform: rotate(35deg);
				}

				&:last-child {

					.wp-block-pavel-home-experience-timeline__experience-timeline-circle {
						transform: rotate(135deg);
					}
				}
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
		}

		&-logo {
			margin-bottom: 16px;
			margin-top: 0;
		}

		&-description {
			margin: 0;
			font-size: 26px;
			line-height: 1.15;
		}

		&-timeline {
			position: relative;

			display: none;

			@container #{$wrap-container-name} (min-width: #{$bp-lg}) {
				display: block;
			}

			&-text {
				max-width: 45%;
				position: absolute;
				z-index: 20;
				text-align: center;
				font-style: italic;
				font-size: 27px;
				line-height: 1.29;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&-circle {
				position: relative;
				z-index: 10;
				width: 100%;
			}

			&-jumper {
				position: absolute;
				z-index: 10;
			}
		}
	}

	&__button {
		margin: 40px auto 0;
	}
}
