.wp-block-pavel-home-certifications-education {
	//margin-top: 0 !important;
	//margin-bottom: 0 !important;

	p {
		margin: 0;
	}

	.components-panel__row {

		.components-button {
			justify-self: unset !important;
			max-width: 250px;
		}
	}
}
